body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: #fafafa;
  color: #333;
}

header {
  padding: 20px;
}

.logo {
  width: 120px;
  display: block;
  margin: 0 auto 10px auto;
}

form {
  background: white;
  width: 350px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
}

label {
  display: block;
  margin-top: 15px;
  text-align: left;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background: crimson;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background: darkred;
}
